<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyUib0M2xl_iUNuclleZh0eUu1qROcoCo</string>
	<key>GCM_SENDER_ID</key>
	<string>67440364193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ada.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-9a2c6</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-9a2c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67440364193:ios:2b749625333418992c3ee0</string>
</dict>
</plist>